<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2sj.mybatis.generator.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.h2sj.mybatis.generator.entity.Member">
    <id column="m_id" jdbcType="BIGINT" property="mId" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="m_username" jdbcType="VARCHAR" property="mUsername" />
    <result column="r_id" jdbcType="BIGINT" property="rId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, u_password, m_username, r_id
  </sql>
  <select id="selectByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample">
    delete from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    insert into db_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="mUsername != null">
        m_username,
      </if>
      <if test="rId != null">
        r_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=BIGINT},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        #{mUsername,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultType="java.lang.Long">
    select count(*) from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_member
    <set>
      <if test="record.mId != null">
        m_id = #{record.mId,jdbcType=BIGINT},
      </if>
      <if test="record.uPassword != null">
        u_password = #{record.uPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mUsername != null">
        m_username = #{record.mUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.rId != null">
        r_id = #{record.rId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_member
    set m_id = #{record.mId,jdbcType=BIGINT},
      u_password = #{record.uPassword,jdbcType=VARCHAR},
      m_username = #{record.mUsername,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    update db_member
    <set>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        m_username = #{mUsername,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        r_id = #{rId,jdbcType=BIGINT},
      </if>
    </set>
    where m_id = #{mId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.h2sj.mybatis.generator.entity.Member">
    <id column="m_id" jdbcType="BIGINT" property="mId" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="m_username" jdbcType="VARCHAR" property="mUsername" />
    <result column="r_id" jdbcType="BIGINT" property="rId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, u_password, m_username, r_id
  </sql>
  <select id="selectByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample">
    delete from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    insert into db_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="mUsername != null">
        m_username,
      </if>
      <if test="rId != null">
        r_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=BIGINT},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        #{mUsername,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultType="java.lang.Long">
    select count(*) from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_member
    <set>
      <if test="record.mId != null">
        m_id = #{record.mId,jdbcType=BIGINT},
      </if>
      <if test="record.uPassword != null">
        u_password = #{record.uPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mUsername != null">
        m_username = #{record.mUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.rId != null">
        r_id = #{record.rId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_member
    set m_id = #{record.mId,jdbcType=BIGINT},
      u_password = #{record.uPassword,jdbcType=VARCHAR},
      m_username = #{record.mUsername,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    update db_member
    <set>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        m_username = #{mUsername,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        r_id = #{rId,jdbcType=BIGINT},
      </if>
    </set>
    where m_id = #{mId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.h2sj.mybatis.generator.entity.Member">
    <id column="m_id" jdbcType="BIGINT" property="mId" />
    <result column="m_birthday" jdbcType="TIMESTAMP" property="mBirthday" />
    <result column="m_gender" jdbcType="BIT" property="mGender" />
    <result column="m_img" jdbcType="VARCHAR" property="mImg" />
    <result column="m_password" jdbcType="VARCHAR" property="mPassword" />
    <result column="m_phone" jdbcType="VARCHAR" property="mPhone" />
    <result column="m_username" jdbcType="VARCHAR" property="mUsername" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, m_birthday, m_gender, m_img, m_password, m_phone, m_username
  </sql>
  <select id="selectByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample">
    delete from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    insert into db_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="mBirthday != null">
        m_birthday,
      </if>
      <if test="mGender != null">
        m_gender,
      </if>
      <if test="mImg != null">
        m_img,
      </if>
      <if test="mPassword != null">
        m_password,
      </if>
      <if test="mPhone != null">
        m_phone,
      </if>
      <if test="mUsername != null">
        m_username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=BIGINT},
      </if>
      <if test="mBirthday != null">
        #{mBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mGender != null">
        #{mGender,jdbcType=BIT},
      </if>
      <if test="mImg != null">
        #{mImg,jdbcType=VARCHAR},
      </if>
      <if test="mPassword != null">
        #{mPassword,jdbcType=VARCHAR},
      </if>
      <if test="mPhone != null">
        #{mPhone,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        #{mUsername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultType="java.lang.Long">
    select count(*) from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_member
    <set>
      <if test="record.mId != null">
        m_id = #{record.mId,jdbcType=BIGINT},
      </if>
      <if test="record.mBirthday != null">
        m_birthday = #{record.mBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mGender != null">
        m_gender = #{record.mGender,jdbcType=BIT},
      </if>
      <if test="record.mImg != null">
        m_img = #{record.mImg,jdbcType=VARCHAR},
      </if>
      <if test="record.mPassword != null">
        m_password = #{record.mPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mPhone != null">
        m_phone = #{record.mPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mUsername != null">
        m_username = #{record.mUsername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_member
    set m_id = #{record.mId,jdbcType=BIGINT},
      m_birthday = #{record.mBirthday,jdbcType=TIMESTAMP},
      m_gender = #{record.mGender,jdbcType=BIT},
      m_img = #{record.mImg,jdbcType=VARCHAR},
      m_password = #{record.mPassword,jdbcType=VARCHAR},
      m_phone = #{record.mPhone,jdbcType=VARCHAR},
      m_username = #{record.mUsername,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h2sj.mybatis.generator.entity.Member">
    update db_member
    <set>
      <if test="mBirthday != null">
        m_birthday = #{mBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mGender != null">
        m_gender = #{mGender,jdbcType=BIT},
      </if>
      <if test="mImg != null">
        m_img = #{mImg,jdbcType=VARCHAR},
      </if>
      <if test="mPassword != null">
        m_password = #{mPassword,jdbcType=VARCHAR},
      </if>
      <if test="mPhone != null">
        m_phone = #{mPhone,jdbcType=VARCHAR},
      </if>
      <if test="mUsername != null">
        m_username = #{mUsername,jdbcType=VARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.h2sj.mybatis.generator.entity.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>